@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050505;
  color: white;
  font-family: sans-serif;
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255,255,255,0.2);
  color: transparent;
}
